<div class="payment-icons--root">
  <ul class="payment-icons--list">

      <li class="payment-icons--item">
        <img src="{{ 'AMEX.png' | asset_url }}" />
        <img src="{{ 'APPLE.png' | asset_url }}"/>
        <img src="{{ 'DINERS.png' | asset_url }}"/>
        <img src="{{ 'DISCOVER.png' | asset_url }}"/>
        <img src="{{ 'G-PAY.png' | asset_url }}"/>
        <img src="{{ 'JCB.png' | asset_url }}"/>
        <img src="{{ 'MASTER.png' | asset_url }}" />
        <img src="{{ 'PAYPAL.png' | asset_url }}" />
        <img src="{{ 'SHOP-PAY.png' | asset_url }}" />
        <img src="{{ 'VENMO.png' | asset_url }}"/>
        <img src="{{ 'VISA.png' | asset_url }}" />
        <!-- {{ type | payment_type_svg_tag }} -->
      </li>

  </ul>
</div>
<style>

.payment-icons--item img{
  /* height: 10%; */
  max-width: 50px;
}
</style>