
{% assign br = '"}' %}
{% assign nb= "" %}
{% assign blProductHeadline = '{"Product headline"=>"' %}
{% assign productHeadline = product.metafields.product_headline|  replace: blProductHeadline, nb %}
{% assign product_media_t = 'products.product_media' | t %}
{% assign view_ar_t = 'products.view_ar' | t %}

{% assign load_3d = false %}
{% assign youtube_exists = false %}
{% assign loop_enabled = section.settings.loop-enabled %}
{% assign modal_enabled = section.settings.modal-enabled %}
{% assign source = 'Product - ' | append: product.title %}

<!-- OG Graph  -->
<meta property="og:title" content="{{product.title}}">
<!-- <meta property="og:description" content="{{product.description}}"> -->
<meta property="og:url" content="{{product.url}}">
<meta property="og:image" content="{{product.img}}">
<meta property="product:brand" content="{{product.vendor}}">
<meta property="product:availability" content="in stock">
<meta property="product:condition" content="{{product.condition}}">
<meta property="product:price:amount" content="{{product.price}}">
<meta property="product:price:currency" content="{{product.currency}}">
<meta property="product:retailer_item_id" content="{{product.id}}">
<meta property="product:item_group_id" content="">

<!-- Schema.org -->

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="brand" content="{{product.vendor}}">
  <meta itemprop="name" content="{{product.title}}">
<!--   <meta itemprop="description" content="{{product.description}}"> -->
  <meta itemprop="productID" content="{{product.id}}">
  <meta itemprop="url" content="{{product.url}}">
  <meta itemprop="image" content="{{product.img}}">
  <div itemprop="value" itemscope itemtype="http://schema.org/PropertyValue">
<!--     <span itemprop="name">item_group_id</span>
    <meta itemprop="value" content="True">fb_tshirts</meta> -->
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="availability" href="http://schema.org/InStock">
    <link itemprop="itemCondition" href="http://schema.org/NewCondition">
    <meta itemprop="price" content="{{product.price}}">
    <meta itemprop="priceCurrency" content="USD">
  </div>
</div>


<div
  data-section-id="{{ section.id }}"
  data-section-type="product_page"
  data-js-class="ProductPage"
>

  {% if modal_enabled %}
  <div class="modal--root" data-js-class="FrameworkModal">
  {% endif %}
    <div class="product fw--blocks">

      {% capture featured_media_classes %}
        featured-media
        text-align--center
        {% if settings.bg-color--body == settings.bg-color--panel %} same-color{% endif %}
      {% endcapture %}

      <div class="{{ featured_media_classes }}">
        <div class="product-page--header-container">

          
          <div class="product-page--featured-media">
            <div class="product-page--media" data-id="{{ product.featured_media.id }}">

              {% if modal_enabled and product.featured_media.media_type == 'image' %}
                <a tabindex="0" class="modal--link" aria-label="{{ product_media_t }}">
              {% endif %}

              {% case product.featured_media.media_type %}
                {% when "image" %}
                  {%
                    include "framework--image",
                    image: product.featured_media,
                    max_height: 600
                  %}

                {% when "video" %}
                  <div
                    class="product-video--root"
                    tabindex="0"
                    data-js-class="ProductVideo"
                    data-loop-enabled="{{ loop_enabled }}"
                    data-type="plyr"
                  >
                    <div
                      class="product-video--container"
                      style="padding-top: {{ 1 | divided_by: product.featured_media.aspect_ratio | times: 100 }}%;"
                    >
                      {{ product.featured_media | video_tag: image_size: "1024x" }}
                    </div>
                  </div>

                {% when "external_video" %}
                  {% assign youtube_exists = true %}
                  <div
                    class="product-video--root"
                    tabindex="0"
                    data-js-class="ProductVideo"
                    data-loop-enabled="{{ loop_enabled }}"
                    data-type="youtube"
                    data-video-id="{{ product.featured_media.external_id }}"
                  >
                    <div
                      class="product-video--container"
                      style="padding-top: {{ 1 | divided_by: product.featured_media.aspect_ratio | times: 100 }}%;"
                    >
                      <div
                        class="product-video"
                        id="featured-{{ product.featured_media.id }}"
                      ></div>
                    </div>
                  </div>

                {% when "model" %}
                  {% assign load_3d = true %}
                  <div
                    class="product-model--root"
                    tabindex="0"
                    data-js-class="ProductModel"
                    style="padding-top: {{ 1 | divided_by: product.featured_media.preview_image.aspect_ratio | times: 100 }}%;"
                  >
                    {{ product.featured_media | model_viewer_tag: reveal: 'interaction', toggleable: true, image_size: "1024x" }}
                  </div>

                {% else %}
                  {{ product.featured_media | media_tag }}

              {% endcase %}

              {% if modal_enabled and product.featured_media.media_type == 'image' %}
                </a>
              {% endif %}

            </div>
          </div>

          {% if load_3d %}
            <div class="product-page--button-container">
              <button
                class="font--button"
                data-shopify-xr
                data-shopify-model3d-id="{{ product.featured_media.id }}"
                data-shopify-title="{{ product.title }}"
                style="display: none;"
              >
                {% include 'framework--icons', icon: '3d-badge' %}
                {{ view_ar_t }}
              </button>
            </div>
          {% endif %}

        </div>
      </div>

      {% capture add_to_cart_panel_classes %}
        add-to-cart-panel
        {% if settings.bg-color--body == settings.bg-color--panel %} same-color{% endif %}
      {% endcapture %}

      <div class="{{ add_to_cart_panel_classes }}">
        {% include 'partial--product' with 'product-page' %}
      </div>
 <div class="custom-product-wrapper spacing--2">
  {%- if product.metafields.product_headline != blank -%}
  {%- for field in product.metafields.product_headline -%}
<!--   <p class="product-desc">{{ productHeadline |  replace: br, n}}</p> -->
 {%- endfor -%}
 {%endif%}
    
     </div>
      <div class="content spacing--4y fw--blocks">
        <div class="column left-side width--7"></div>
        <div class="column right-side width--5"></div>

        <div class="single-column text-align--center">
          <div class="block text text-align--left">
            <div class="description rte-content font--paragraph">
              {% include 'custom-product-info' %}
             
            </div>
          </div>

          {% for media in product.media %}
            {% assign skip_image = false %}

            {% if forloop.first %}
              {% assign skip_image = true %}
            {% endif %}

            {% if section.settings.hide-variant-media and forloop.first == false %}
              {% for variant in product.variants %}
                {% if variant.featured_media.preview_image == media.preview_image %}
                  <a
                    class="photo image-wrapper hidden-variant-image"
                    aria-label="{{ product_media_t }}"
                  >
                    <div class="product-page--media" data-id="{{ media.id }}">
                      {% case media.media_type %}
                        {% when "image" %}
                          {% include "framework--image", image: media, max_height: 600 %}

                        {% when "video" %}
                          <div
                            class="product-video--root"
                            tabindex="0"
                            data-js-class="ProductVideo"
                            data-loop-enabled="{{ loop_enabled }}"
                            data-type="plyr"
                          >
                            <div
                              class="product-video--container"
                              style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
                            >
                              {{ media | video_tag: image_size: "1024x" }}
                            </div>
                          </div>

                        {% when "external_video" %}
                          {% assign youtube_exists = true %}
                          <div
                            class="product-video--root"
                            tabindex="0"
                            data-js-class="ProductVideo"
                            data-loop-enabled="{{ loop_enabled }}"
                            data-type="youtube"
                            data-video-id="{{ media.external_id }}"
                          >
                            <div
                              class="product-video--container"
                              style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
                            >
                              <div class="product-video" id="variant-{{ media.id }}"></div>
                            </div>
                          </div>

                        {% when "model" %}
                          {% assign load_3d = true %}
                          <div
                            class="product-model--root"
                            tabindex="0"
                            data-js-class="ProductModel"
                            style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;"
                          >
                            {{ media | model_viewer_tag: reveal: 'interaction', toggleable: true, image_size: "1024x" }}
                          </div>

                        {% else %}
                          {{ media | media_tag }}

                      {% endcase %}
                    </div>
                  </a>

                  {% assign skip_image = true %}
                  {% break %}

                {% endif %}
              {% endfor %}

            {% endif %}

            {% if skip_image %}
              {% continue %}
            {% endif %}

            <div class="product-page--media-variant block photo image-wrapper">
              <div class="product-page--media" data-id="{{ media.id }}">

                {% if modal_enabled and media.media_type == 'image' %}
                  <a class="modal--link" tabindex="0" aria-label="{{ product_media_t }}">
                {% endif %}

                {% case media.media_type %}
                  {% when "image" %}
                    {% include "framework--image", image: media, max_height: 600 %}

                  {% when "video" %}
                    <div
                      class="product-video--root"
                      tabindex="0"
                      data-js-class="ProductVideo"
                      data-loop-enabled="{{ loop_enabled }}"
                      data-type="plyr"
                    >
                      <div
                        class="product-video--container"
                        style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
                      >
                        {{ media | video_tag: image_size: "1024x" }}
                      </div>
                    </div>

                  {% when "external_video" %}
                    {% assign youtube_exists = true %}
                    <div
                      class="product-video--root"
                      tabindex="0"
                      data-js-class="ProductVideo"
                      data-loop-enabled="{{ loop_enabled }}"
                      data-type="youtube"
                      data-video-id="{{ media.external_id }}"
                    >
                      <div
                        class="product-video--container"
                        style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;"
                      >
                        <div class="product-video" id="{{ media.id }}"></div>
                      </div>
                    </div>

                  {% when "model" %}
                    <div class="product-page--button-container">
                      <button
                        class="font--button"
                        data-shopify-xr
                        data-shopify-model3d-id="{{ media.id }}"
                        data-shopify-title={{ product.title }}
                        style="display: none;"
                      >
                        {% include 'framework--icons', icon: '3d-badge' %}
                        {{ 'products.view_ar' | t }}
                      </button>
                    </div>
                    <div
                      class="product-model--root"
                      tabindex="0"
                      data-js-class="ProductModel"
                      style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;"
                    >
                      {{ media | model_viewer_tag: reveal: 'interaction', toggleable: true, image_size: "1024x" }}
                    </div>

                  {% else %}
                    {{ media | media_tag }}

                {% endcase %}

                {% if modal_enabled and media.media_type == 'image' %}
                  </a>
                {% endif %}

              </div>
            </div>

          {% endfor %}

        </div>
      </div>
      {% include'product-vendor-banner' %}

      {% if settings.social--sharing-products %}
        <div class="text-align--center">
          {% include 'partial--social-media' with 'product' %}
        </div>
        <div class="clearfix"></div>
      {% endif %}
    </div>

  {% if modal_enabled %}
      <div class="modal--content-wrapper">
        {% for media in product.media %}
          {% if media.media_type == "image" %}
            <div class="modal--content">
              <div class="product-page--media" data-id="{{ media.id }}">
                {% include 'framework--image', image: media %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

 
  {% endif %}
    <div id="hide">
    <script>
  theme.product = {};
  theme.product.json = {{ product | json }};
  theme.product.id = {{ product.id }};

  var selectCallback = function(variant, selector) {
    theme.partials.ProductPage.variantSelected(variant, selector);
    // add your selectCallback code here...
  };

  $(function() {
    new Shopify.OptionSelectors('product-select-' + theme.product.id, {
      product: theme.product.json,
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    {% if product.options.size == 1 %}
      $('.selector-wrapper:eq(0)').prepend('<label class="font--accent">{{ product.options.first }}</label>');
    {% endif %}
  });
</script>
      </div>
{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "checkbox",
      "id": "smart_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "position-title-above",
      "label": "Position title in featured image panel",
      "default": true,
      "info": "For screens larger than 1024px wide"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)."
    },
    {
      "type": "checkbox",
      "id": "modal-enabled",
      "label": "Enable image zoom",
      "default": true,
      "info": "Opens when clicking a product image"
    },
    {
      "type": "checkbox",
      "id": "hide-variant-media",
      "label": "Hide variant media",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop-enabled",
      "label": "Enable video looping",
      "default": false
    }
  ]
}
{% endschema %}
    
<!-- <script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"Product",
  "productID":"{{ product.id }}",
  "name":"{{product.name}}",
  "description":{{product.description}},
  "url":"{{product.url}}",
  "image":"{{product.image}}",
  "brand":"{{product.vendor}}",
  "offers": [
    {
      "@type": "Offer",
      "price": "{{product.price}}",
      "priceCurrency": "USD",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "https://schema.org/InStock"
    }
  ]
}
</script> -->