
<main>
  <h1 style="text-align:center; padding-top:.1em;">Press</h1>
 
  <div class='container'>
    <div class='masonry-grid'>
      <div class='cell nihao-article' style="height: 59em;">
        <div class="quote">"</div>
		 <p class="press-preview-text">There is a deep ancestral history behind gua sha... it was a way to respect and acknowledge my heritage. This isn't a means of capitalistic gain for me, it’s an authentic dimension of my past. Because of this, it hurts to see gua sha be appropriated and cheapened so much. </p>
         <p class="date spacing--3">- Jul. 2020</p>
           <img class="logo" src='{{'NiHao_logo_blue.png' | asset_url }}' />
        <a class="link-read-more spacing--3" href="http://www.nihaonewyork.net/2020/07/more-than-beauty-trend-pink-moon-over-the-moon-guasha-duo.html">A Closer Look At Pink Moon's Over The Moon Gua Sha Duo</a>
         <img src='{{'nihao.jpg' | asset_url }}' />
      </div>
     
      
 
      <div class='cell loveindie-article'>
       <p class="date spacing--3">- Apr. 2020</p>
       <img class="logo" src='{{'winged.png' | asset_url }}' />
       	<a class="link-read-more spacing--3"href="https://wingedcbd.com/winged-woman-spotlight-lin-chen-of-pink-moon/">read the interview</a>
       <img src='{{'lin_winged.png' | asset_url }}' />
      </div>
     <div class='cell winged-article'>
       <div class="quote">"</div>
       <p class="press-preview-text"> For us at Pink Moon, self-care isn’t about beauty, it’s about holistic wellbeing. I hope that we can help women strip these deeply limiting beliefs and help them bloom into their best selves. The biggest challenge is, and will continue to be, our rewriting of the beauty and self-care narrative. We want to create a self-care space that incorporates beauty in a way that is empowering, not shame inducing.<p>
        <p class="date spacing--3">- Apr. 2020</p>
        <img class="logo"  src='{{'winged.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://wingedcbd.com/winged-woman-spotlight-lin-chen-of-pink-moon/">Read the Interview</a>
        <img src='{{'lin_winged.png' | asset_url }}' />
      </div>
       <div class='cell rise-article2'>
        <div class="quote">"</div>
        <div class="press-preview-text">I use a flat rose quartz Gua Sha tool on my neck, shoulders, face, and a rose quartz roller for my temple if I have a headache.</div>
          <p class="date spacing--3">- May 2020</p>
         <img class="logo"  src='{{'blue_rise.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://www.joinrise.co/wellness-from-home/">wellness at home</a>
         <img src='{{'rise_img2.jpg' | asset_url }}' />
      </div>
 
  
    
      
      <div class='cell motherly-article' style="height: 53em;">
        <div class="quote">"</div>
		 <p class="press-preview-text">Gua sha is an ancient Chinese practice of scraping and massaging your skin with a therapeutic tool in order to improve circulation and relieve tension, which (here’s hoping!) will help ease your migraine tension while also tending to your skin."</p>
         <p class="date spacing--3">- Apr. 2020</p>
           <img class="logo" src='{{'motherly-logo.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://www.mother.ly/shop/11-migraine-relief-products/gua-sha-tool">gua sha for migraines</a>
         <img src='{{'motherly_img.jpg' | asset_url }}' />
      </div>
      
        <div class='cell motherly-article' style="height: 53em;">
        <div class="quote">"</div>
		 <p class="press-preview-text"> An ancient Chinese practice, gua ('scrape') sha ('redness') uses a special heart-shaped tool made of jade or rose quartz to work deep into your facial muscles and fascia, releasing tension and inflammation and stimulating blood circulation. This helps to increase the flow of oxygen and nutrients to your skin, and move stagnant energy or chi. That may sound like a tall order, but this is one multitasking skin care gizmo, mama.
         <p class="date spacing--3">- May. 2020</p>
           <img class="logo" src='{{'motherly-logo.png' | asset_url }}' />
     <a class="link-read-more spacing--3"href="https://www.mother.ly/shop/best-gua-sha-tool">WHY motherly loves our gua sha tool</a>
         <img src='{{'motherly_img.jpg' | asset_url }}' />
      </div>
      <div class='cell rise-article'>
        <div class="quote">"</div>
        <div class="press-preview-text">We love to support
women-founded ventures.
Is there a company/
product that you’ve come
across recently that you
think more people should
know about?<br><br>

All the brands I work
with are women-owned!
One of my newer (new
to North America)
clients is an ethical
+ organic self-care
brand from Mongolia
called Lhamour. This
brand has amazing values
and is a social impact
company that gives back
to the environment
and marginalized
communities, empowers
girls and women
worldwide, and their
products are just
incredibly effective and
affordable."</div>
          <p class="date spacing--3">- Apr. 2020</p>
          <img class="logo" src='{{'blue_rise.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://www.joinrise.co/blog/lin-chen-pink-moon/">interview with Rise, a community that empowers women</a>
         <img src='{{'rise_img.jpg' | asset_url }}' />
      </div>
     
      
     
      <div class='cell loveindie-article'>
       <div class="quote">"</div>
        <div class="press-preview-text">Why is indie beauty important to you?<br><br> I’m supporting a dream and giving my money to what matters."</div>
           <p class="date spacing--3">- Oct. 2019</p>
           <img class="logo" src='{{'loveindie_logo.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://loveindieb.com/blogs/love-indie-b-blog/pink-moon-lin-chen-indie-beauty">lin's indie beauty routine</a>
         <img src='{{'indieb_img.jpg' | asset_url }}' />
      </div>
      
      <div class='cell bi-article-2'>
       <div class="spacing--3 quote">"</div>
        <div class="press-preview-text">The complexity of
          Asian Americans,
          the fastest-growing
          demographic segment
          in the United States,
          has only begun to be
          recognized by beauty
          and fashion brands.
          With K-Beauty big in
          the beauty category,
          Pink Moon’s Chen said,
          “People forget there
          are other Asians in
          the beauty industry.
          There’s Singaporean
          beauty. There’s
          Japanese beauty. There
          are all these other
          brands that are from
          where their founders
          are from...There’s more
          than K-Beauty. We’ve
          been trying to coin
          ‘A-Beauty.’” Short
          for Asian beauty, she
          suggests A-Beauty
          encapsulates the varied
          nature of the Asian
          beauty field better than
          K-Beauty."</div>
           <p class="date spacing--3">- May. 2019</p>
           <img class="logo" src='{{'beautyindependent_logo.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://www.beautyindependent.com/asian-american-representation-beauty-industry-panel-discussion/">more about Asian representation in beauty/fashion</a>
         <img src='{{'beautyindependent_img2.jpeg' | asset_url }}' />
      </div>
   
     

  <div class='cell bi-article'>
        <div class="quote">"</div>
        <div class="press-preview-text">We want to create a total sensorial wellness experience and having these custom journeys will be important for that, especially if a woman is just coming to relax. There are enough facial studios that focus on the message of getting rid of your wrinkles and acne. We want to focus on the positive message of skin healing.</div>
                 <p class="date spacing--3">- Oct. 2019</p>
           <img class="logo" src='{{'beautyindependent_logo.png' | asset_url }}' />
        <a class="link-read-more spacing--3"href="https://www.beautyindependent.com/pink-moon-pop-up-permanent-clean-beauty-store-manhattan-upper-west-side/">pink moon preview</a>
         <img src='{{'beautyindependent_img.jpg' | asset_url }}' />
      </div>
        <div class='cell well-article'>
        <div class="quote">"</div>
        <div class="press-preview-text">      
            11 Businesses Run by
            Women of Color You
            Should Know<br><br>
            Company: Pink Moon<br><br>
            Why It’s Great: “It’s
            an independent strategic
            branding company focused
            on elevating women-owned
            mission-driven, indie
            eco / ethical beauty &
            wellness brands.”</div>
       		<p class="date spacing--3">- Mar. 2019</p>
           <img class="logo" src='{{'thewell_logo.png' | asset_url }}' />
       		 <a class="link-read-more spacing--3"href="https://www.jopwell.com/thewell/posts/11-businesses-run-by-women-of-color-you-should-know">10 other woc owned businesses</a>
         <img src='{{'thewell_img.jpg' | asset_url }}' />
      </div>
       <div class='cell pbp-article'>
        <div class="quote">"</div>
        <div class="press-preview-text"> Lin Chen is carving out her own path in the natural beauty industry, one that is unique to her skillsets and identity as a Taiwanese-American woman.<br><br> “I’m definitely really proud of myself,” said Chen. “It has taken me a long time to get to where I am and who I am today. I was taking these small steps to building my own life and building a foundation for myself.”</div>
        <p class="date spacing--3">- Jun. 2018</p>
        <img class="logo" src='{{'pbp_logo.png' | asset_url }}' />
        <div class="link-read-more">
        	<a class="spacing--3"href="https://www.projectbyproject.org/la-blog-posts/pbp-ny-lin-chen-interview">interview on defying stereotypes</a>
          </div>
        <img src='{{'projectbyproject_img.jpg' | asset_url }}' />
      </div>
  
    </div>
      

  
    </div>
  </div>
</main>
<style>
/* * {
  box-sizing: border-box;
}
 */
.container {
  margin: 40px auto;
  padding: 0 24px;
  width: 100%;

}

.masonry-grid {
  column-width: 296px;
  column-gap: 24px;
}

.cell img {
  display: block;
  width: 100%;
/*   height: 80% */
/*   border-radius: 8px; */
}

/* Placeholder divs to prevent page jumping */
.cell {
  position: relative;
  margin-bottom: 24px;
  height: 0;
  overflow: hidden;
  background: #f593a2;
  break-inside: avoid;
/*     padding-bottom: 30%; */
/*   border-radius: 8px; */
}

.cell img {
/*   position: absolute; */
  bottom: 0;
  left: 0;
  margin-top:1em;
  margin-bottom: 1em;
}
  
   .winged-article{
height: 63em;
  }
/*   @media only screen and (max-width: 600px) {
    .winged-article{
      padding-bottom: 241%;
    } */
}
  .motherly-article{
/*     padding-bottom: 240%; */
    height:47em;
  }
/*   @media only screen and (max-width: 600px) {
  .motherly-article{
    padding-bottom: 186%;
  } 
  } */
  
  .pbp-article{
   height: 64em;
  }
  
  @media only screen and (max-width: 600px) {
   .pbp-article{
   height: 56em;
  }
  }
  
  .well-article{
height:49em;
  }
  
/*   @media only screen and (max-width: 600px) {
     .well-article{
  padding-bottom: 134%;
  }
  } */
    .bi-article{
      height:55em;
  }
/*   @media only screen and (max-width: 600px) { 
    .bi-article{
      height:53em;
  } */
    
  }
    .loveindie-article{
  height:35.5em;
  }
/*   @media only screen and (max-width: 600px) {
  .loveindie-article{
  height:40em;
  }
  } */
  
  .bi-article-2{
  height:73em;
  }
  
  .rise-article{
  height:74em;
  }
  .rise-article2{
  height: 30.8em;
  }
  
  .motherly-article2{
  height:38em;
  }
  .logo{
	  padding-left: 1em; 
  padding-right:1em;  
  }

.ratio1x1 {
  padding-bottom: 100%;  
}

.ratio4x3 {
  padding-bottom: 75%;
}
.ratio16x9 {
  padding-bottom: 56.25%;
}
.ratio9x16 {
  padding-bottom: 177.77%;
}
  
 
  
  .link-read-more{
    text-transform: uppercase !important;
    text-decoration: underline !important;
    letter-spacing: .2px;
    margin: 1em;
    margin-bottom:2em;
    font-size:1.2em;
     font-weight: 700;
    padding-left: 1em;
  }
  .date{
  text-align: right;
  }
  .quote{
   font-family:'Compagnon Roman' !important;
    font-size: 8em;
    color: var(--bg-color--body);
    
  
  }
  
  .press-preview-text{
  margin-left:1em;
    margin-right:1em;
    margin-bottom: 1em;
    margin-top: -3em;
    font-size:1.1em;
    line-height: 1.5;
   

  }
</style>
<!-- <div class="container">
  <div class="div content">
    <div class="categories">
      <div class="categories_item">
        <a href="" class="">
          <span>For us at Pink Moon,
self-care isn’t about
beauty, it’s about
holistic wellbeing. I
hope that we can help
women strip these deeply
limiting beliefs and
help them bloom into
their best selves. The
biggest challenge is,
and will continue to
be, our rewriting of

the beauty and self-
care narrative. We want

to create a self-care
space that incorporates
beauty in a way that is
empowering, not shame
inducing."</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>Gua sha is an ancient
Chinese practice of
scraping and massaging
your skin with a
therapeutic tool in
order to improve
circulation and relieve
tension, which (here’s
hoping!) will help ease
your migraine tension
while also tending to
your skin."
</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>We want to create a
total sensorial wellness
experience and having
these custom journeys
will be important for
that, especially if a
woman is just coming to
relax. There are enough
facial studios that
focus on the message
of getting rid of your
wrinkles and acne. We
want to focus on the
positive message of skin
healing "</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>Why is indie beauty
important to you?
I’m supporting a dream
and giving my money to
what matters."</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>Lin Chen is carving out
her own path in the
natural beauty industry,
one that is unique
to her skillsets and

identity as a Taiwanese-
American woman.<br><br>

“I’m definitely really
proud of myself,” said
Chen. “It has taken me
a long time to get to
where I am and who I
am today. I was taking
these small steps to
building my own life and
building a foundation
for myself.”</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>11 Businesses Run by
Women of Color You
Should Know

Company: Pink Moon
Why It’s Great: “It’s
an independent strategic
branding company focused
on elevating women-owned
mission-driven, indie
eco / ethical beauty &
wellness brands.”</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>The complexity of
Asian Americans,
the fastest-growing
demographic segment
in the United States,
has only begun to be
recognized by beautyat

and fashion brands.
With 
auty big in
the beauty category,
Pink Moon’s Chen said,
“People forget there
are other Asians in
the beauty industry.
There’s Singaporean
beauty. There’s
Japanese beauty. There
are all these other
brands that are from
where their founders
are from...There’s more
than K-Beauty. We’ve
been trying to coin
‘A-Beauty.’” Short
for Asian beauty, she
suggests A-Beauty
encapsulates the varied
nature of the Asian
beauty field better than
K-Beauty."</span>
        </a>
      </div>
      <div class="categories_item">
        <a href="" class="">
          <span>We love to support
women-founded ventures.
Is there a company/
product that you’ve come
across recently that you
think more people should
know about?

All the brands I work
with are women-owned!
One of my newer (new
to North America)
clients is an ethical
+ organic self-care
brand from Mongolia
called Lhamour. This
brand has amazing values
and is a social impact
company that gives back
to the environment
and marginalized
communities, empowers
girls and women
worldwide, and their
products are just
incredibly effective and
affordable."</span>
        </a>
      </div>
    </div>
  </div>
</div>
<style>
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  float: left;
  width: 100%;
/*   background-color: red; */
}

.content {
  width: 94%;
  margin: 0px auto;

  padding: 30px;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;                /* NEW */
}


  .categories_item a {
/*   background-color: white; */
}

.categories_item {
  flex: 1 0 20%;                 /* NEW */
  margin: 5px;                   /* NEW */
  background-color: #f593a2;
}
</style>   -->